div {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.favorites {
  padding: 20px;
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  justify-items: center;
  background: #fdf4e3;
  color: #b44c3a;
  text-align: center;
}

.favorites img {
  width: 340px;
  height: 450px;
}

@media screen and (max-width: 1200px) {
  .favorites img {
    width: 280px;
    height: 370px;
  }
}

@media screen and (max-width: 920px) {
  .favorites {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 614px) {
  .favorites img {
    width: 230px;
    height: 320px;
  }
}

@media screen and (max-width: 504px) {
  .favorites {
    grid-template-columns: repeat(1, 1fr);
  }
}
